<div class="comment">
  <%= turbo_frame_tag dom_id(comment) do %>
    <%=link_to(comment.user.username, user_path(comment.user), method: :get,'data-no-turbolink' => true)%>: <%=comment.content%>
  <%end%>
</div>