<div class="mix">
  <h3><%=link_to mix.title, user_mix_path(mix.user, mix)%></h3>
  <%mix.contents.each do |content|%>
    <%=render partial: 'contents/content', locals: {content: content}%>
  <%end%>
</div>