<h2>Edit Profile</h2>
<%if @user.avatar.attached?%>
  <img src="<%=(url_for(@user.avatar))%>">
<%else%>
  <img src="<%=@user.image%>" class="rounded" width="155">
<%end%>

<%=render partial: 'form', locals: {user: @user}%>
