<div class="album py-5 bg-light">

  <%results.each do |result|%>
    <div class='card-container'>
      <div class='card'>
        <%=render_result(result)%>
      </div>
    </div>
  <%end%>
 
</div>