// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.contents {
  height: 100%;
  overflow-y: scroll;
}

.add-to-form {
  color: rgb(37, 37, 37);
  background-color: rgb(204, 204, 204);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 3px;
}

.add-to-form input[type=text] {
  background-color: rgb(250, 250, 250);
  border: none;
}